html {
    /* Setting a base font size of 10px give us easier rem calculations
       Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
     */
    font-size: 10px;
  }

  body {
    /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #333;
    margin: 0;
    text-align: center;
    background: #eee;

    
  }
  h3{
      color:black; 
  }

  div{
      background-color: white;
      
  }

  /*#tribute-info-list{
    text-align:left;
    max-width: 50%;
    color:red;
  }*/

  #title{
    background: #eee;
    margin-bottom: 0;

  }
  #img-div{
      background-color: white;
  }

  #img-caption {
    margin: 15px 0 5px 0;
    padding-bottom: 8px;
  }

  #tribute-info{
      max-width:66%;
      margin: 0 auto 50px auto;
      background: #eee;
  }

  #main{
    margin: 30px 8px;
    padding: 5px;
    border-radius: 5px;
  }

  ul {
    text-align: left;
    line-height: 1.6;
       

  }

  blockquote{
      font-style: italic;
  }